<?xml version="1.0" encoding="UTF-8" ?>

<odoo>

    <record id="eml_pay_view" model="ir.actions.act_window">
        <field name="name">Salary</field>
        <field name="res_model">emp.pay</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">tree,kanban,form</field>
        <field name="context">{'search_default_state_search':1}</field>
        <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Creat DCL
              </p>
        </field>
    </record>

    <menuitem id="view_pay"
              name="Điều chỉnh lương"
              parent="hr.menu_hr_root"
              sequence="99"
              action="eml_pay_view"/>

</odoo>
