<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <record id="eml_employee_view" model="ir.actions.act_window">
        <field name="name">Employee</field>
        <field name="res_model">emp.emplyee</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>
    <record id="eml_pay_view" model="ir.actions.act_window">
        <field name="name">Pay</field>
        <field name="res_model">emp.pay</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>
    <record id="eml_contract_view" model="ir.actions.act_window">
        <field name="name">Contracts</field>
        <field name="res_model">emp.contracts</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>

     <menuitem id="menu_employee"
              name="Employee"
              sequence="0"
              action="eml_employee_view"/>

    <menuitem id="view_employee"
              name="Employee"
              parent="menu_employee"
              sequence="1"
              action="eml_employee_view"/>
    <menuitem id="view_pay"
              name="Điều chỉnh lương"
              parent="menu_employee"
              sequence="3"
              action="eml_pay_view"/>
    <menuitem id="view_contract"
              name="Contracts"
              parent="menu_employee"
              sequence="2"
              action="eml_contract_view"/>

</odoo>
